.checkbox-select-data{
    font-family: Inter !important;
font-size: 13px !important;
font-weight: 400 !important;
line-height: 15.73px !important;
/* text-align: left !important; */
/* padding: 100px !important; */
}