.CompanyProfileTabs-heading{
    color:  #000000 !important;
    font-size: 14px  !important;
    font-weight: 600 !important;
    line-height: 16.94px !important;
}
.Companydata .MuiTabs-scroller .MuiTabs-indicator {
    background-color: #DA291C !important;
}
.Companydata 
  .MuiTabs-flexContainer
  .Mui-selected {
  color: #000000;
  font-weight: 600;
  font-size: 14px;
  line-height: 16.94px;
  height: 45px;
  text-transform: none;
  font-family: Inter !important;
}
.Companydata 
  .MuiTabs-scroller
  .MuiTabs-flexContainer
  .MuiTab-root {
  text-transform: none;
  font-family: Inter !important;
}
.Companydata.MuiTabs-scroller  .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
    color: black !important;
}
.company-profile-main-tabs-data #simple-tabpanel-0{
    background-color: #F5F6FA !important;
    padding: 0 10px;
}
.company-profile-main-tabs-data .MuiBox-root{
    padding-left: 20px;
}