.child-section-of-everypage-CompanyProfileScreen {
  padding: 30px !important;
  background-color: #ffffff !important;
}
.child-section-CompanyProfileTabs {
  background-color: #ffffff !important;
}
    