.ComingSoon-outerr-container{
    background-color: white;
}
.ComingSoon-main-container{
    background-color: rgb(243, 244, 249) !important;
    text-transform: capitalize;
}
.BacktoDashbaordbutton{
    border: 1px solid #DA291C !important;
    color:  #DA291C !important;
    font-size: 16px !important;
    font-weight: normal !important;
 
}
.ComingSoon-inner h3{
    font-size: 46px;
    font-weight: bold;
}
.ComingSoon-inner{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ComingSoonleftside{
    text-align: center;
    font-size: 16px;
    padding-top: 6px;
    font-weight: 400;
}
.BacktoDashbaordbuttonstack{
    display: flex;
    justify-content: center;
    padding-top: 15px;
}
.ComingSoon-inner-heading h3{
    text-align: center;
}
.ComingSoon-inner-heading p{
    color: #BBBBBB;
}
.ComingSoon-scheduled{
    font-size: 19px;
    font-weight: bold;
}
@media screen and (max-width: 767px) and (min-width: 320px) {
    .ComingSoon-inner{
        padding: 30px;
        width: 100%;
    }
    .ComingSoon-outerr-container{
        width: 100%;
    }
    .ComingSoon-inner-heading{
        width: 100%;
    }
}